<%- include header/header.ejs %>

<body>
   <%- include header/left_panel.ejs %>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <%- include header/top_nav.ejs %>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row" id="battery_info">

                </div>
                <!-- /Widgets -->

                <div class="clearfix"></div>
                <!-- Orders -->
                <div class="orders">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">Bar Code information</h4>
                                </div>
                                <div class="card-body--">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="serial">#</th>
                                                    <th>Sellers</th>
                                                    <th>Cost per KwH</th>
                                                    <th>Kwh avaliable</th>
                                                    <th>Buy</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td class="serial">lol</td>
                                                    <td id="">lol</td>
                                                    <td id="">lol</td>
                                                    <td id="">lol</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#largeModal" onclick="">Add</button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div> <!-- /.table-stats -->
                                </div>
                            </div> <!-- /.card -->
                        </div>  <!-- /.col-lg-10 -->

                    </div>
                </div>
                <!-- /.orders -->
                <!-- To Do and Live Chat -->

                <!-- -->
                <div class="row">
                    <div class="col-md-12 col-lg-4">

                    </div>

                    <div class="col-lg-4 col-md-6">

                    </div>
                    <div class="col-lg-4 col-md-6">

                    </div>
                </div>

            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
          <%- include footer/credentials.ejs %>
    </div>
    <!-- /#right-panel -->
    <!-- Local Script-->
    <script>


<%- include footer/footer.ejs %>
