<%- include header/header.ejs %>

<body>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row" id="battery_info">

                </div>
                <!-- /Widgets -->

                <div class="clearfix"></div>
                <!-- Orders -->
                <div class="orders">
                    <div class="row">
                        <div class="col-xl-10">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="box-title">Bar Code information</h4>
                                </div>
                                <div class="card-body--">
                                    <div class="table-stats order-table ov-h">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th class="serial">#</th>
                                                    <th>Barcode num</th>
                                                    <th>Delete</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            <% var i = 0;
                                            for(var l = barcodes.length - 1; l >= 0; l--){ %>
                                                <tr>
                                                    <td class="serial"><%= ++i%></td>
                                                    <td id=""><%= barcodes[l] %></td>
                                                    <td>
                                                       <a class="" href="/delete?id=<%=l%>" style="color:darkred;font-size:1.5rem;"><i class="ti-close"></i></a>
                                                    </td>
                                                </tr>
                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div> <!-- /.table-stats -->
                                </div>
                            </div> <!-- /.card -->
                        </div>  <!-- /.col-lg-10 -->
                        <div class="col-xl-10">
                        <center><a class="btn btn-success" href="/send" style="font-size:1.5rem;">Send barcodes</a></center>
                        </div>
                    </div>
                </div>
                <!-- /.orders -->
                <!-- To Do and Live Chat -->

                <!-- -->
                <div class="row">
                    <div class="col-md-12 col-lg-4">

                    </div>

                    <div class="col-lg-4 col-md-6">

                    </div>
                    <div class="col-lg-4 col-md-6">

                    </div>
                </div>

            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
          <%- include footer/credentials.ejs %>
    </div>
    <!-- /#right-panel -->
    <!-- Local Script-->
    <script>


<%- include footer/footer.ejs %>
